body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}



.key {
    width: 100px;
    height: 100px;
     background-color: blanchedalmond;
    padding:  20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}

.container {
    display: flex;
}

small {
    font-size: 18px;
    font-weight: 500;
}


